name: release
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  id-token: write
jobs:
  release-please:
    runs-on: macos-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      lodash_release: ${{ steps.release.outputs['packages/lodash--release_created'] }}
      express_release: ${{ steps.release.outputs['packages/express--release_created'] }}
      dotenv_release: ${{ steps.release.outputs['packages/dotenv--release_created'] }}
      jsonwebtoken_release: ${{ steps.release.outputs['packages/jsonwebtoken--release_created'] }}
      log4js_release: ${{ steps.release.outputs['packages/log4js--release_created'] }}
      log4js_cjs_release: ${{ steps.release.outputs['packages/log4js-cjs--release_created'] }}
      # redis_release: ${{ steps.release.outputs['packages/redis--release_created'] }}
      sqlite3_release: ${{ steps.release.outputs['packages/sqlite3--release_created'] }}
      ws_rerelease: ${{ steps.release.outputs['packages/ws--release_created'] }}
      node-pty_rerelease: ${{ steps.release.outputs['packages/node-pty--release_created'] }}
      sqlite3-cjs_release: ${{ steps.release.outputs['packages/sqlite3-cjs--release_created'] }}
      # axios_rerelease: ${{ steps.release.outputs['packages/axios--release_created'] }}
      # form-data_rerelease: ${{ steps.release.outputs['packages/form-data--release_created'] }}
      qs_rerelease: ${{ steps.release.outputs['packages/qs--release_created'] }}
      long-timeout_rerelease: ${{ steps.release.outputs['packages/long-timeout--release_created'] }}
      cron-parser_rerelease: ${{ steps.release.outputs['packages/cron-parser--release_created'] }}
      node-schedule_rerelease: ${{ steps.release.outputs['packages/node-schedule--release_created'] }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json
  publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' ||
      needs.release-please.outputs.release_created == 'true' }}
    runs-on: macos-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4
      - name: 设置 node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - name: 设置 pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9
      - name: 安装全局依赖
        run: |
          for i in 1 2 3; do
            pnpm i -F esmify && break || {
              echo "安装全局依赖失败,第 $i 次尝试"
              [ $i -eq 3 ] && exit 1
              sleep 5
            }
          done
      - name: 发布 lodash 包
        if: ${{ needs.release-please.outputs.lodash_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/lodash
        run: pnpm i -F @karinjs/lodash && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 express 包
        if: ${{ needs.release-please.outputs.express_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/express
        run: pnpm i -F @karinjs/express && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 dotenv 包
        if: ${{ needs.release-please.outputs.dotenv_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/dotenv
        run: pnpm i -F @karinjs/dotenv && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 jsonwebtoken 包
        if: ${{ needs.release-please.outputs.jsonwebtoken_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/jsonwebtoken
        run: pnpm i -F @karinjs/jsonwebtoken && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 log4js 包
        if: ${{ needs.release-please.outputs.log4js_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/log4js
        run: pnpm i -F @karinjs/log4js && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 redis 包
        if: ${{ needs.release-please.outputs.redis_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/redis
        run: pnpm i -F @karinjs/redis && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 sqlite3-cjs 包
        if: ${{ needs.release-please.outputs.sqlite3-cjs_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/sqlite3-cjs
        run: pnpm i -F @karinjs/sqlite3-cjs && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 sqlite3 包
        if: ${{ needs.release-please.outputs.sqlite3_release == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        working-directory: packages/sqlite3
        run: pnpm i -F @karinjs/sqlite3 && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 ws 包
        if: ${{ needs.release-please.outputs.ws_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/ws
        run: pnpm i -F @karinjs/ws && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 node-pty 包
        if: ${{ needs.release-please.outputs.node-pty_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/node-pty
        run: pnpm i -F @karinjs/node-pty && pnpm run build && pnpm publish --access public --provenance
      # - name: 编译 form-data 包
      #   run: pnpm i -F @karinjs/form-data && pnpm run build
      #   working-directory: packages/form-data
      #   if: ${{ needs.release-please.outputs.form-data_rerelease == 'true' ||
      #     needs.release-please.outputs.axios_rerelease == 'true' }}
      # - name: 发布 form-data 包
      #   if: ${{ needs.release-please.outputs.form-data_rerelease == 'true' }}
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   working-directory: packages/form-data
      # run: pnpm run pub
      # - name: 发布 axios 包
      #   if: ${{ needs.release-please.outputs.axios_rerelease == 'true' }}
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   working-directory: packages/axios
      #   run: pnpm i -F @karinjs/axios && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 qs 包
        if: ${{ needs.release-please.outputs.qs_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/qs
        run: pnpm i -F @karinjs/qs && pnpm run build && pnpm publish --access public --provenance
      - name: 发布 long-timeout 包
        if: ${{ needs.release-please.outputs.long-timeout_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/long-timeout
        run: pnpm i -F @karinjs/long-timeout && pnpm run build && pnpm publish --access public --provenance
      - name: 编译 cron-parser 包
        run: pnpm i -F @karinjs/cron-parser && pnpm run build
        working-directory: packages/cron-parser
        if: ${{ needs.release-please.outputs.cron-parser_rerelease == 'true' ||
          needs.release-please.outputs.node-schedule_rerelease == 'true' }}
      - name: 发布 cron-parser 包
        if: ${{ needs.release-please.outputs.cron-parser_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/cron-parser
        run: pnpm publish --access public --provenance
      - name: 发布 node-schedule 包
        if: ${{ needs.release-please.outputs.node-schedule_rerelease == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/node-schedule
        run: pnpm i -F @karinjs/node-schedule && pnpm run build && pnpm publish --access public --provenance
